div(class='main-card')
    img(class='bg-img' src='./images/'+val['image'] alt='фото товара')
    div(class='main-card-content')
        a(href='goods?id='+val['id'])
            h2(class='title')= val['name']
            p(class='copy')= val['description']
            p #{val['cost']}₴
        button(
        data-goods_id= val['id']
        class="button-card add-to-cart"
            ) Купить



