include header 

include navigationHeader

div(class='wrapper')
    div(class='container-xl')
        div(class='row')
            div(class='card-body-goods')    
                div(class='profile-img')
                    a(data-fancybox="gallery" href="./images/"+goods[0]['image'])
                        img(
                            src="./images/"+goods[0]['image']
                            alt="item"
                            class='goods-big-image responsive-img rounded'
                            )
                    div(class='small-images')
                        each val,index in images
                            div(class='small-img-card')
                                a(data-fancybox="gallery" href="./images/"+val['path'])
                                    img(class="responsive-img rounded" src="./images/"+val['path'])
                div(class='profile-description')
                    h1(class='title-panel')= goods[0]['name']
                    p(class='goods-description')= goods[0]['description']
                    p(class='goods-cost')
                        span #{goods[0]['cost']}&nbsp; 
                        |uah
                        
                    button(
                        class='btn btn-dark add-to-cart'
                        data-goods_id=goods[0]['id']
                        ) Добавить в корзину 
                        i(class="bi bi-bag cart-btn")
    script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js")
include footer

  a(data-fancybox="gallery" href="https://lipsum.app/id/46/1600x1200")
    img(class="rounded" src="https://lipsum.app/id/46/200x150")
