div(class='container-fluid first-page')
    div(class='choice-item')
        div(class='choice-item-content')    
            h2(class='main-title') Одежда , которую приятно носить
            hr(class='content-line')
            p(class='header-description') Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, beatae?
    div(class='main-img-content')
        img(
            src="./images/mainImages/nnwrbl_sweetshot.jpeg"
            alt="main photo"
            class='responsive-img'
            )
    div(class='second-img-content')
        img(
            src="./images/mainImages/nnwrbl_hoodie.jpeg"
            alt="main photo"
            class='responsive-img'
            )
    div(class='about_brand-section')
        h1(class='brand-name') N N W R B L
        div(class='brand-description')
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, molestiae?
            br
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, molestiae?
            div(class='brand-image')
                img(
                    class='responsive-img'
                    src='./images/mainImages/nnwrbl_small.png'
                )