div(class='main-container')
    div(class='container-fluid first-page')
        div(class='choice-item')
            div(class='choice-item-content')    
                h2(class='main-title') Одежда , которую приятно носить
                hr(class='content-line')
                p(class='title-description') натуральные материалы & непревзойденное качество
        div(class='main-img-content')
            img(
                src="/images/mainImages/nnwrbl_showPhoto.jpeg"
                alt="main photo"
                class='responsive-img'
                )
        div(class='second-img-content')
            img(
                src="/images/mainImages/nnwrbl_hoodie.jpeg"
                alt="main photo"
                class='responsive-img'
                )
        div(class='about_brand-section')
            h1(class='big-logo') N N W R B L
            div(class='brand-description')
                p(class='title-description') Это культура , которая передайтся с каждым продуктом, с каждым заказом. Мы делаем ваши дни счастливее
                div(class='brand-image')
                    img(
                        class='responsive-img'
                        src='/images/mainImages/nnwrbl_small.png'
                    )