div(
    class='site-nav bg-primary'
)
    div(class='close-btn-div')
        button(
            class='close-nav btn-close'
            aria-label="Close"
            type='button'
            )
    h3(class='cart-header') Goods 
    div(id='category-list')
    h3(class='cart-header') Cart
    div(id='cart-nav')
    div(class='text-right')
        a(
            href='/order'
        )
            button(class='btn btn-outline-dark') Order
